$bluegray: #daebef;
$lightblue: #3bcced;
$darkgray: #3d3d3d;
$gray:#b4b4b4;

$deepdark: #181818;
$lightgray: #f5f5f5;
$blue: #117fd4;
$deeperblue: #1d6bbc;
$purple: #31004a;
$maxwidth: 1170px;
$maxwidth-full: 1200px;
$maxwidth-m: 100%; 